body {
  font-family: "Poppins", sans-serif;
  background-color: #F2F2F2;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-wrapper {
  display: flex;
  gap: 25px;
} */

.swiper-slide {
  background-position: center;
  background-size: cover;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
} */

.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
  padding: 18px;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.74);
  transition: 500ms ease;
  height: 10px !important;
  width: 10px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-disabled:hover {
  background-color: rgb(0, 0, 0);
  transition: 500ms ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  line-height: 1;
  color: #fff;
  /* opacity: 0;
  transition: opacity 0.2s; */
}

.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
  color: #fff;
  /* opacity: 1;
  transition: opacity 0.2s; */
}


.swiper-pagination-bullet-active {
  background-color: white !important;
}